/* * {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.App{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 5px;
}

.sidebar{
  width: 30%;
}

.main{
  width: 100%;
} 
*/

.noteslist {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px #ccc;
  margin: 16px;
  float: left;
}

li:hover {
  background-color: #ccc;
}
